# npm
node_modules

# hugo
_site/

# conf.eiskaffe.com
conf.eiskaffe.com/**/*.txt
conf.eiskaffe.com/**/*.*sum

# compressed files
*.7z
*.zip

# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json

# bundler cache
_site
vendor

# rubygem
*.gem

# npm dependencies
node_modules
package-lock.json

# miscellaneous
sync.sh
