[submodule "services.eiskaffe.com/themes/risotto"]
	path = services.eiskaffe.com/themes/risotto
	url = https://github.com/joeroe/risotto.git
[submodule "johnatan-film-studios"]
	path = jfs.illesgergely.com
	url = git@github.com:eiskaffe/johnatan-film-studios.git
[submodule "docs.eiskaffe.com"]
	path = docs.eiskaffe.com
	url = git@github.com:eiskaffe/eiskaffe.github.io.git
