div#header-div {
	background-image: url(../images/background.jpg);
	background-size: cover;
	background-position: center;
	height: 50vh;
}


/********************/
/** MAIN STRUCTURE **/
/********************/

@media only screen and (max-width: 480px) {
	.toprule {
		display: none;
	}

	.pax #maincontain {
		top: 0px !important;
	}
}

#maincontain {
	background-color: rgb(240, 240, 240);
	position: relative;
	z-index: 98;
}

	.pax #maincontain {
		top: 140px;
	}


#main {
	/* max-width: 96vw; */
	/* padding-left: 10px; */
	/* padding-right: 10px; */
	margin-left: auto;
	margin-right: auto;
	z-index: 99;
	position: relative;
    background-color: inherit;
}

/* SERVICES */
#main>div.services {
    align-items:center;
	background-color: #f7f7f7;
	/* padding-bottom: 20px; */
    /* background-color: white; */
}

div.services .overprices {
    display: flex;
    justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}


/* AWARDS */

div.services .award-list {
	display: flex;
	justify-content: space-between;
}

	div.services .award-list img {
		width: 180px;
		/* margin: 00px; */
	}

/* GARANCIA */

div.services .garancia {
	width: 100%;
	height: 100px;
	background-color: rgb(58, 104, 18);
	display: flex;
	justify-content: space-between;
	vertical-align: middle;
}

	div.services .garancia * {
		margin: auto 200px;
		color: whitesmoke;
		font-size: xx-large;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
	}

	div.services .garancia a {
		border: whitesmoke solid 3px;
		padding: 10px 20px;
		border-radius: 2%;
		transition-duration: 0.2s;
	}

	div.services .garancia a:hover {
		transition-duration: 0.2s;
		transform: scale(1.02);
		border: rgb(226, 226, 226) solid 3px;
		padding: 14px 28px;
		border-radius: 4%;
	}


/* TUNDRA TEAM */

div.services .tundra-team {
	display: flex;
	justify-content: space-between;
}

	div.services .tundra-team>div {
		/* width: 50%; */
		max-height: 80vh;
	}

	div.services .tundra-team>div.text-part {
		margin: 100px 10px 100px 10%;
	}

	div.services .tundra-team>div.text-part p {
		text-align: justify;
	}

		div.services .tundra-team .links {
			margin: 50px 0;
			display: flex;
			justify-content: space-between;
		}

			div.services .tundra-team .links a {
				border: rgb(71, 128, 21) solid 2px;
				padding: 10px;
				color: rgb(58, 104, 18);
				font-weight: bold;
				border-radius: 2%;
				margin: 0 100px;
				transition-duration: 0.2s;
			}
			
			div.services .tundra-team .links a:hover {
				border: rgb(50, 94, 12) solid 2px;
				color: rgb(50, 94, 12);
				transition-duration: 0.2s;
				transform: scale(1.03);
			}

	div.services .tundra-team img {
		max-height: 80vh;
		/* height: 400px; */
	}

	div.services .tundra-team h1 {
		font-size: xx-large;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		color: #393a3c;
	}

/***********************/
/* FULL SCALE VERSIONS */
/***********************/

/* AWARDS - FULL SCALE */

body#awards .award-list {
	justify-content: center;
	width: 70vw;
	margin: auto;
}

body#awards .award-list .award-container {
	display: flex;
	justify-content: space-between;
	/* height: fit-content; */
}


	body#awards .award-list img {
		height: 200px;
	}

	body#awards .award-list .text-box {
		width: 100%;
		margin: 0 20px;
		position: relative;
	}

		body#awards .award-list .text-box>div {
			position: absolute;
			top:50%;
			transform: translateY(-50%);
		}

		body#awards .award-list .text-box.left,
		body#awards .award-list .text-box.left * {
			text-align: left;
		}

		body#awards .award-list .text-box.right,
		body#awards .award-list .text-box.right *  {
			text-align: right;
		}

	body#awards .award-list p {
		margin-bottom: 20px;
		color: #424346;
	}

	body#awards .award-list h2 {
		font-size: x-large;
		font-family: Verdana, Geneva, Tahoma, sans-serif;
		font-weight: bolder;
		text-transform: uppercase;
		color: #393a3c;
	}

	body#awards .award-list a:not(.link) {
		border: #393a3c solid 2px;
		color: #393a3c;
		padding: 10px 40px;
		margin: auto;
		transition-duration: 0.2s;
	}

	body#awards .award-list a:not(.link):hover {
		transition-duration: 0.2s;
		border: rgb(58, 104, 18) solid 2px;
		color: rgb(58, 104, 18);
		transform: scaleX(2);
	}

/* RESPONSIVENESS */

@media (min-width: 1351px) {
	div.services .overprices {
		margin-left: 170px;
		margin-right: 170px;
	}

	div.services .award-list {
		margin: 30px 300px;
	}
}

@media (min-width: 1049px) and (max-width: 1350px) {
	div.services .overprices {
		margin-left: 100px;
		margin-right: 100px;
	}
}

@media (min-width: 851px) and (max-width: 1048px) {
	div.services .overprices {
		margin-left: 30px;
		margin-right: 30px;
	}
}

@media (min-width: 0px) and (max-width: 850px) {
	div.services .overprices {
		margin-left: 0px;
		margin-right: 0px;
	}
}

@media (min-width:901px) {
	div.services .overprices>div {
		margin: 0;
		width: 49.5%;
	}
}

@media (max-width:900px) {
	div.services .overprices {
		display: block;
		margin: auto;
	}
}

div.services .overprices>div {
	display: flex;
}

div.services .overprices>div>div {
	width: 50%;
}

@media (max-width: 400px) {
	div.services .overprices>div {
		display: block;
	}
	div.services .overprices>div>div {
		width: 100%;
	}
}


/* GENERAL */

div.services h3 {
    color: #424346;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

div.services p{
    color: rgb(68, 68, 68);
    text-align: center;
}